<app-navegacion></app-navegacion>
<h2>Administración productos</h2>
<article class="nuevo-producto">
  <h5>Agregar nuevo producto:</h5>
  <button type="button" class="border-0">
    <i class="bi bi-bag-plus-fill h3"></i>
  </button>
</article>
<table class="blueTable">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Imagen</th>
      <th>Precio</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    @for(producto of allproducts; track $index){
    <tr>
      <td>{{ producto.nombre }}</td>
      <td>{{ producto.imagen }}</td>
      <td>${{ producto.precio }}</td>
      <td class="iconos">
        <button type="button" class="border-0">
          <i class="bi bi-pencil-square h3"></i>
        </button>
        |
        <button type="button" class="border-0">
          <i class="bi bi-trash-fill h3 text-danger"></i>
        </button>
      </td>
    </tr>
    }
  </tbody>
</table>
<app-pie-pagina></app-pie-pagina>
