<app-navegacion></app-navegacion>
<h2>Administración productos</h2>
<table class="blueTable">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Imagen</th>
      <th>Precio</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>hoodies</td>
      <td>xxxx</td>
      <td>$1500</td>
      <td class="iconos">
        <a><i class="bi bi-bag-plus-fill h3"></i></a>
        |
        <a><i class="bi bi-pencil-square h3"></i></a>
        |
        <a><i class="bi bi-trash-fill h3 text-danger"></i></a>
      </td>
    </tr>
  </tbody>
</table>
<app-pie-pagina></app-pie-pagina>
