/* importaciones */
@import url("https://fonts.cdnfonts.com/css/poppins");
@import url("https://fonts.cdnfonts.com/css/rock-boys-2");

/* variables */
:root {
  /* Fuentes */
  --textTitle: "Rock Boys", sans-serif;
  --textContent: "Poppins", sans-serif;
  --colorFondo: #bee54d;
  --colorEnfasis1: #e6a64c;
  --colorEnfasis2: #59e64c;
  --colorText: hsl(0, 11%, 11%);
}

/* condiciones generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--colorFondo);
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
