<app-navegacion></app-navegacion>
<form class="row g-3 needs-validation" novalidate>
  <section class="ingreso-container">
    <h2>Formulario Ingreso</h2>
    <label for="validationCustom03" class="form-label"
      >Correo electronico</label
    >
    <input type="text" class="form-control" id="validationCustom03" required />
    <div class="invalid-feedback">Digite un correo electronico</div>
    <label for="validationCustom05" class="form-label">Contraseña</label>
    <input
      type="password"
      class="form-control"
      id="validationCustom05"
      required
    />
    <div class="invalid-feedback">Digite una contraseña</div>
    <button class="btn btn-sm boton" type="submit">Ingresar</button>
  </section>
</form>
<app-pie-pagina></app-pie-pagina>
