.menuNav {
  display: flex;
  justify-content: space-between;
  background-color: var(--colorEnfasis2);
  font-size: 25px;
}
.menuItems {
  text-align: left;
  display: flex;
  gap: 20px;
  list-style: none;
}
